section{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 32px;
    /* border: 1px solid black; */
    height: auto;
    width: auto;
}
img{
    border-radius: 10px;
}
body{
    background-color: gray; /* te pongo el fondo oscuro por el bien de tus ojitos */
}
header{
    text-align: center;
    text-decoration: underline;
}