.row{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto; 
    border: 1px solid black;
}
.col{
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
@media (min-width:600px){
    .row{
        flex-direction: row;
    }
    #text-sobre-mi{
        width: 100%;
        /* border: 1px solid black; */
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #h2-sobre-mi{
        text-decoration: underline;
        grid-column: 2/3;
        grid-row: 1/2;

    }
    #p-sobre-mi{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #img-sobre-mi{
        /* border: 1px solid black; */
        border-radius: 20px;
        
    }
}
#sobre-mi{
    padding: 20px;
}
#text-sobre-mi{
    margin-bottom: 25px;
    /* border: 1px solid black; */
    text-align: center;
}
#text-sobre-mi h2{
    text-decoration: underline
}